* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: rgb(47, 96, 140);
  border-color: rgb(47, 96, 140);
}

.btn-primary:hover {
  background-color: rgb(42, 74, 103);
  border-color:  rgb(42, 74, 103);
}


.bg-admin {
  background-color: #252525;
}

