header {
    background-color: #333;
    color: white;
    min-height: 10vh;
}

a {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    min-height: 5vh;
}