.top-buttons {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.action form:nth-child(2){
  margin-left: 10px;
}

.wrapper h2 {
  margin: 90px 0px 50px 0px;
}

.wrapper table {
  margin-top: 30px;
}

.table-admin thead tr th:last-child {
  width: 22%;
}

.table-admin thead tr th:first-child {
  width: 7%;
}

