.top-buttons {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1.5rem 0;
}

.action {
  display: flex;
}

.action form {
  margin-right: 1rem;
}

.wrapper h2 {
  margin: 60px 0px;
}

.wrapper table {
  margin-top: 20px;
}