.wrapper {
  width: 1200px;
  margin: 4rem auto;
}

.page-wrapper {
  width: 840px;
  margin: 4rem auto;
}

.page-wrapper h4 {
  margin-bottom: 50px;
}


.main-login-page {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper-login {
  width: 540px;
  margin: 4rem auto;
}

.btn-margin {
  margin-top: 10px;
}