
.container-small {
  margin-bottom: 150px;
}

.container-small h4 {
  margin-bottom: 50px;
}


.update-quantity {
  width: 60px;
}

.checkout-img img {
  height: 120px;
}

.confirmation-img img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.table-checkout  thead td,
.table-checkout  thead th
 {
  border-top: none;
}