
.container-small {
  margin-bottom: 150px;
}

.container-small h4 {
  margin-bottom: 50px;
}


.update-quantity {
  width: 60px;
}

.checkout-img img {
  height: 100px;
}

.confirmation-img img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.table-checkout  thead td,
.table-checkout  thead th
 {
  border-top: none;
}

.table-checkout thead tr th:nth-child(1) {
  width: 10%;
}

.table-checkout thead tr th:nth-child(2) {
  width: 40%;
}

.table-checkout thead tr th:nth-child(3) {
  width: 10%;
}

.table-checkout thead tr th:nth-child(4) {
  width: 12%;
}

.table-checkout thead tr th:nth-child(5) {
  width: 15%;
}

.table-checkout thead tr th:nth-child(6) {
  width: 8%;
}



