/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.btn-primary {
  background-color: rgb(47, 96, 140);
  border-color: rgb(47, 96, 140);
}

.btn-primary:hover {
  /* background-color: rgb(81, 130, 173);
  border-color: rgb(81, 130, 173); */
  background-color: rgb(42, 74, 103);
  border-color:  rgb(42, 74, 103);
}

:root {
  --blue: rgb(42, 74, 103);
  --primary: rgb(42, 74, 103);
}

a {
  color:  rgb(42, 74, 103);
}

a:hover {
  color:  rgb(154, 181, 205);
  text-decoration: none;
}


