/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.btn-primary {
  background-color: rgb(47, 96, 140);
  border-color: rgb(47, 96, 140);
}

.btn-primary:hover {
  background-color: rgb(87, 139, 184);
  border-color: rgb(87, 139, 184);
}

