.admin-container {
  min-height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: gray;
  padding: 0 2rem;
}

.admin-container span {
  color: #4a4a4a;
}

.admin-container {
  background-color: red;
}

.search-bar {
  min-height: 8vh;
  background-color: #ebebeb;
  position: relative;
}

.mb-4 {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-nav {
  background-color: #232323;
}

.admin-nav {
  display: flex;
  min-height: 4vh;
  align-items: center;
}

.admin-nav a {
  padding: 0 0.3rem;
  color: #a5a5a5;
}

.navbar-brand::before {
  content: "PHOTO";
  color: #bdbdbd;
}

.navbar-brand::after {
  content: "POSTERS";
  color: #bdbdbd;
}

.logo {
  margin: 0 5px;
}

.cart-icon {
  position: relative;
}

.fa-shopping-cart {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 2rem;
}
