/* index */

.info {
  /* background-color: green; */
  margin: 90px 0px;
  width: 500px;
  text-align: center;
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapping {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: aliceblue; */
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;

  flex-basis: 215px;
  flex-grow: 0;
  flex-shrink: 0;

  margin: 0px 10px 120px;
  /* background-color: red; */
  text-align: center;
  font-size: 12px;
}

.product-title {
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
}

.product-info {
 margin: 0px auto; 
 width: 80%;
}

.btn-2 {
  width: 100%;
}