.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapping {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.product {
  display: flex;
  flex-direction: column;

  flex-basis: 215px;
  flex-grow: 0;
  flex-shrink: 0;

  margin: 0px 30px 90px;
  /* background-color: red; */
  text-align: center;
  font-size: 12px;
}

.product-title {
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
}
