/* PRODUCT */

.product-singel {
  display: flex;
  flex-direction: row;
}

.product-image {
  flex-basis: 45%;
  flex-grow: 0;
  flex-shrink: 0;
}

.product-text {
  padding: 30px 60px 40px 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.product-image img {
  width: 330px;
  height: 450px;
}

.product-image .Frame {
  padding: 28px;
  border-width: 10px;
}

.stock {
  color: #c6c6c6;
}

.price-shipping {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.price {
  font-weight: 600;
  font-size: 20px;
}

.shipping {
  text-align: right;
  font-size: 14px;
}

.shipping p:nth-child(1){
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.shipping p:nth-child(2){
  line-height: 0px;
  font-weight: 300;
  font-style: italic;
}