* {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrapping {
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;

  margin: 24px 16px 0px;
}
