.slider-products {
  min-height: 90vh;
}

.slider-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 20vh;
}
.slider-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.slider-container {
  display: flex;
  width: 40vw;
}

.panel {
  height: 45vh;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.panel h3 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  background: black;
  padding: 0px 10px;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/*Media Queries*/

@media (max-width: 680px) {
  .slider-container {
    width: 100vw;
  }

  .panel h3 {
    font-size: 16px;
  }

  .panel:nth-of-type(4) {
    display: none;
  }
}