.table-user  thead td,
.table-user  thead th, 
.table-order  thead td,
.table-order  thead th {
  border-top: none;
}

.table-user thead tr th:nth-child(1) {
  width: 15%;
}

.table-user thead tr th:nth-child(2) {
  width: 20%;
}

.table-user thead tr th:nth-child(3) {
  width: 50%;
}


.table-order thead tr th:nth-child(1) {
  width: 40%;
}

.table-order thead tr th:nth-child(2) {
  width: 20%;
}

.table-order thead tr th:nth-child(3) {
  width: 20%;
}

.table-user .modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.modal-content {
  padding: 25px;
}

.modal-header {
  margin-bottom: 40px;
}

.modal-title i {
  font-weight: 300;
}


#orderDetailsModal .modal-footer {
 border-top: none;
}

#updateModal .modal-footer {
  margin-top: 50px;
 }

 #updateModal .modal-footer form {
  display: flex;
  justify-content: space-between;
 }

 .order-date {
  font-weight: 300;
 }

 .order-details-title p {
  font-size: 20px;
 }

 .order-details-title h4 {
  margin-bottom: 10px;
 }

 .table-order-details {
  margin-top: 50px;
 }